@font-face {
  src: url("/assets/fonts/FuturaTEELig Regular.ttf");
  font-family: "FuturaDemiC";
}

* {
  margin: 0;
  padding: 0;
  background: #000;
}

.header {
  width: 87%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  margin-top: 37px;
}

.header__title {
  font-family: "FuturaDemiC";
  font-size: 1em;
  color: #E3B873;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.header__nav_item {
  margin-left: 49px;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

.header__nav_item:hover {
  color: #E3B873;
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

.header__number {
  font-size: 14px;
  color: #E3B873;
  font-family: "FuturaDemiC";
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .header__number {
    font-size: 14px;
    color: #fff;
    font-family: "FuturaDemiC";
    text-decoration: none;
  }
}

.header__requestBtn {
  font-size: 14px;
  color: #ffffff;
  font-family: "FuturaDemiC";
  margin-top: -13px;
  padding: 14px 34px;
  background: #E3B873;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__requestBtn {
    display: none;
  }
}

.main-info {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  position: relative;
  width: 100%;
  margin-top: 21px;
}

.main-info__inst {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  background: green;
  height: 707px;
  width: 100%;
  position: relative;
}

.main-info__inst div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 45%;
  left: -20%;
  background: green;
  width: 100%;
}

.main-info__inst div hr {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  height: 51px;
}

.main-info__inst_link {
  background: green;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  .main-info__inst {
    display: none;
  }
}

.main-info__info {
  -webkit-box-flex: 95;
      -ms-flex: 95;
          flex: 95;
  background: yellow;
  color: black;
  position: relative;
  height: 707px;
}

.main-info__info_text {
  position: absolute;
  top: 40%;
  left: 3%;
  background: yellow;
}

.main-info__info_text_title {
  background: yellow;
}

.main-info__info_text_content {
  background: yellow;
}

.main-info__info_text_btn {
  background: yellow;
  margin-top: 10px;
  cursor: pointer;
}

.main-info__info_text_btn a {
  background: green;
}

.main-info__info_text_btn a:last-child() {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .main-info__info_text {
    width: 95%;
    position: absolute;
    top: 20%;
    left: 5%;
    background: yellow;
  }
  .main-info__info_text_title {
    background: yellow;
  }
  .main-info__info_text_content {
    margin-top: 100px;
    background: yellow;
  }
  .main-info__info_text_btn a {
    display: block;
    width: 95%;
    margin-top: 100px;
  }
}

.main-info__scroll-down {
  display: none;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .main-info__scroll-down {
    display: none;
  }
}

.complete-progect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: red;
  padding-top: 106px;
  padding-bottom: 90px;
}

.complete-progect__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 60px;
  margin-left: 150px;
  background: red;
}

.complete-progect__content_props {
  width: 80%;
  background: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.complete-progect__content_props-item {
  width: 50%;
  margin-top: 50px;
  background: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.complete-progect__content h2 {
  background: red;
}

.complete-progect__content span {
  background: red;
}

.complete-progect__slider {
  background: red;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.complete-progect__slider_nav {
  background: red;
}

.complete-progect__slider_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  list-style: none;
  background: red;
  margin-left: 5px;
}

.complete-progect__slider_nav ul li a {
  background: red;
}

.complete-progect__slider_content {
  margin-top: 45px;
  background: orange;
  height: 482px;
  width: 679px;
}

@media screen and (max-width: 768px) {
  .complete-progect {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .complete-progect__slider {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-top: 50px;
  }
  .complete-progect__content {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

.online-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}

.online-control__header {
  width: 196px;
  height: 67px;
  background: yellowgreen;
}

.online-control__video {
  margin-top: 15px;
  width: 817px;
  height: 434px;
  background: blue;
}

.online-control__decription {
  width: 681px;
  height: 130px;
  background: red;
  margin-top: 15px;
}

.online-control__form {
  background: green;
  margin-top: 25px;
  width: 769px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.online-control__form:last-child {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.online-control__form_name, .online-control__form_phone {
  width: 231px;
  height: 45px;
  background: gray;
}

.online-control__form_btn {
  width: 200px;
  height: 51px;
  background: gray;
}

.online-control__form_agree {
  margin-top: 5px;
  background: gray;
  height: 18px;
  width: 285px;
}

.repair-types {
  width: 1236px;
  height: 708px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 150px;
}

.repair-types__header {
  width: 100%;
  height: 67px;
  background: green;
}

.repair-types__item {
  width: 392px;
  height: 608px;
  background: gray;
}
/*# sourceMappingURL=main.css.map */