.complete-progect
{
    display: flex;
    padding-top: 106px;
    padding-bottom: 500px;
    font-size: 14px;
    background: #000;
    
    @media screen and (max-width: $mobile)
    {
        padding-top: 10px;
        padding-bottom: 0;
    }

    &__content
    {
        width: 40%;
        margin-top: 60px;
        margin-left: 150px;

        &_props
        {
            width: 80%;
            @include flex-block();
            flex-direction: row;
            flex-wrap: wrap;
            
            &_item
            {
                width: 50%;
                margin-top: 50px;

                @include flex-block();
                flex-direction: column;
                
                .title
                {
                    @include text($text_color: $color, $size: 1.3em, $font: $Yeseva);
                    font-weight: normal;
                    text-transform: uppercase;
                }

                .content
                {
                    margin-top: 10px;
                    @include text($size: 1em, $font: $futuraBook);
                    width: 40%;
                    line-height: 18px;
                }
            }

            @media screen and (max-width: $mobile)
            {
                display: none;
            }
        }

        &_change
        {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            width: 30%;
            margin-top: 90px;

            &_circle
            {
                margin-top: 1px;
                height: 14px;
                width: 14px;
                border-radius: 50%;
                background: #fff;
                opacity: 0.7;
                cursor: pointer;

                &:hover
                {
                    opacity: 1;
                }
            }

            .active
            {
                opacity: 1;
            }

            &_arrow-left, &_arrow-right
            {
                &:hover
                {
                    opacity: 0.8;
                    cursor: pointer;
                }
            }
            @media screen and (max-width: $mobile)
            {
                display: none;
            }
        }

        &_header
        {
            @include text($font: $Yeseva, $text_color: $color, $size: 2em);
            font-weight: normal;
            display: flex;
            text-transform: uppercase;
            width: 50%;
            
            h2
            {
                width: 20%;
            }

            hr
            {
                transform: rotate(90deg);
                color: $color;
                background: $color;
                margin-left: -10px;
                margin-top: -25px;
                width: 2px;
                border: none;
                height: 150px;
            }
        }

        &_info
        {
            span
            {
                @include text($font: $futuraBook, $size: 1.3em);
            }
            width: 70%;
        }

        @media screen and (max-width: $mobile)
        {
            width: 90%;
            margin: auto;

            &_header
            {
                text-align: center;
                margin: auto;
                hr
                {
                    display: none;
                }

                h2
                {
                    width: 100%;
                }
            }

            &_info
            {
                text-align: center;
                margin: auto;
                margin-top: 30px;
                width: 100%;
            }
        }
    }

    &__slider
    {
        position: relative;
        width: 60%;
        &_nav
        {  
            width: 100%;
            ul
            {
                @include flex-block(space-between);
                width: 60%;
                list-style: none;
                margin-left: 5px;
                
                li a
                {
                    text-decoration: none;
                    @include text($font: $Yeseva, $size: 1em);
                    opacity: 0.9;

                    &:hover
                    {
                        color: $color;
                        border-bottom: 2px solid $color;
                        padding-bottom: 4px;
                    }
                }
                .active
                {
                    color:  $color;
                    border-bottom: 2px solid $color;
                    padding-bottom: 4px;
                }

            }

            @media screen and (max-width: $mobile)
            {
                display: none;
            }
        }

        &_content
        {
            margin-top: 45px;
            display: flex;
            overflow: hidden;
            width: 100%;
            position: relative;
            
            img
            {
                margin-left: 30px;

                &:first-child
                {
                    margin-left: 0px;
                }
            }
            
            &_next, &_prev
            {
                position: absolute;
                padding: 20px 22px 17px 24px;
                background: $color;
                top: 50%;
                transform: translate(-50%, -50%);
                border-radius: 100px;
                
                &:hover
                {
                    opacity: 0.92;
                }
            }
            &_next
            {
                right: 0%;
            }
            &_prev
            {
                left: 5%;
                top: 45%;
                transform: translate(-50%, -50%);
                transform: rotate(180deg);
                display: none;
                @media screen and (max-width: $mobile)
                {
                    display: block;
                }
            }
        }


    }

    @media screen and (max-width: $mobile) 
    {
        flex-direction: column;
        width: 90%;
        margin: auto;
        &__slider
        {
            flex: none;
            margin-top: 50px;
            width: 100%;
            
            
            &_content
            {
                overflow: visible;
                img
                {
                    width: 100%;
                }
                &_prev
                {
                    top: 37%;
                }
            }
        }    

        &__content
        {
            flex: none;
        }
    }


    @media screen and (min-width: $mobile) and (max-width: $desktopMin)
    {
        padding-bottom: 200px;
        &__slider_nav
        {
            width: 130%;
        }
        
        &__content
        {
            margin-left: 80px;
            &_header
            {
                width: 70%;
            }
            &_info
            {
                width: 90%;
            }
            &_change
            {
                width: 40%;
            }
        }
    }
}