.fantasies
{
    @include flex-block(space-between);
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 150px;

    &__styles
    {
        height: 638px;
        flex: 4;
        background: gray;
    }

    &__images
    {
        height: 1000px;
        flex: 6;
        background: red;
    }

    @media screen and (max-width: $mobile)
    {
        width: 95%;
        margin-top: 1250px;
        display: block;

        &__styles
        {
            width: 100%;
            height: 50px;
        }

        &__images
        {
            width: 100%;
            margin-top: 25px;
            height: 300px;
        }
    }
}