.main-info
{
    color: #fff;
    @include flex-block();
    position: relative;
    width: 100%;
    font-size: 0.85vw;
    &__inst
    {
        flex: 5;
        width: 100%;
        position: relative;


        &_link
        {
            text-decoration: none;
            @include text($text_color: $color, $font: $futuraDem, $size: 1em);
            writing-mode: vertical-lr;
            position: relative;

            width: 100%;
            height: 48%;
            left: 40%;
            top: 38%;

            hr
            {
                position: relative;
                top: 27%;
                left: -10%;
                border: none;
                background: $color;
            }
        }

        @media screen and (max-width: $mobile) 
        {
            display: none;    
        }
    }

    &__info
    {
        flex: 95;
        background:linear-gradient(
            rgba(0, 0, 0, 0.7), 
            rgba(0, 0, 0, 0.7)
          ),
        url(./assets/images/main-info_bg.png) no-repeat;
        background-size: cover;
        color:black;
        position: relative;
        padding-bottom: 25%;

        &_text
        {
            position: relative;
            top: 60%;
            left: 4%;
            width: 36%;

            &_title
            {
                @include text($size: 3.5em, $font: $Yeseva);
                width: 120%;
                margin-bottom: 50px;
                line-height: 1em;
                text-transform: uppercase;
                font-weight: normal;
                letter-spacing: 0.8px;

                span
                {
                    color: $color;
                }
            }

            &_content
            {
                @include text($font: $futuraBook,$size: 2em);
            }

            &_btn 
            {
                a 
                {   
                    padding: 20px 50px;
                    border-radius: 5px;
                    @include text($size: 1em, $font: $futuraDem);
                    border: 3px solid #fff;
                    background: none;
                    
                    &:last-child
                    {
                        margin-left: 50px;
                    }

                    &:hover
                    {  
                        background: $color;
                        border: none;
                        padding: 23px 53px;
                    }
                    
                }
                width: 150%;
                margin-top: 74px;
                cursor: pointer;
            }
        }

        @media screen and (max-width: $mobile) 
        {
            &_text
            {
                width: 95%;
                position: absolute;
                top: 20%;
                left: 5%;
                
                background: yellow;
    
                &_title
                {
                    background: yellow;
                }
    
                &_content
                {
                    margin-top: 100px;
                    background: yellow;

                }

                &_btn
                {
                    a
                    {
                        display: block;
                        width: 95%;
                        margin-top: 100px;
                    }
                }
            }
        }
    }

    &__scroll-down
    {
        position: absolute;
        padding: 15px 30px;
        background: #000;
        display:flex;
        bottom: 0%;
        left: 0%;
        font-family: $Yeseva;

        &_text
        {
            margin-top: 5%;
            cursor: pointer;
        }

        &_arrow
        {
            margin-left: 10px;
            cursor: pointer;
        }

        @media screen and (max-width: $mobile) 
        {
            display: none;    
        }
    }
}