.map
{
    &__info
    {
        height: 100px;
        width: 589px;
        margin: auto;
        background: blue;
        margin-top: 50px;
    }

    &__map
    {
        width: 925px;
        height: 465px;
        margin: auto;
        background: yellow;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}