.online-control
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
    font-size: 20px;
    position: relative;
    bottom: 350px;
    margin-bottom: -50%;
    z-index:  2;

    &__header
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        &_title
        {
            @include text($size: 1.1em, $font: $Yeseva);
            text-transform: uppercase;
        }
    }

    &__video
    {
        margin-top: 15px;
        width: 100%;
        height: 500px;

        iframe
        {
            width: 100%;
            height: 100%;
        }
    }

    &__description
    {
        @include text($size: 1em, $font: $futuraBook, $text_color: #000);
        width: 72%;
        text-align: center;
        margin: auto;
        margin-top: 50px;
    }

    &__form
    {
        width: 769px;
        
        @include flex-block(space-between);
        flex-wrap: wrap;
        margin-top: 50px;
        
        input
        {
            height: 51px;
            
            width: 100%;
        }

        &_name, &_phone
        {
            width: 30%;
            height: 100%;
            order: 1;

            span
            {
                @include text($text_color: #363636, $font: $futuraBook, $size: 1em);
            }

            input
            {
                border: none;
                border-bottom: 1px solid #363636;
                @include text($size: 1em, $font: $futuraBook, $text_color: #000);
                outline: none;
            }
        }

        &_btn
        {
            width: 30%;
            height: 75px;
            order: 1;
            display: flex;
            align-items: flex-end;
            button
            {
                width: 95%;
                height: 75%;
                border: none;
                background: $color;
                border-radius: 5px;
                @include text($size: 1em, $font: $futuraDem);
                outline: none;
                margin-left: -3px;
                margin-bottom: -3px;
                &:hover
                {
                    box-shadow: -3px 3px 1px 1px #e3b873b2;
                    margin: 0;
                }

                &:active
                {
                    box-shadow: none;
                    margin-left: -3px;
                    margin-bottom: -3px;
                }
            }
        }

        &_agree
        {
            order: 2;
            @include text($text_color: #000, $size: 1em, $font: $futuraBook);
            display: flex;
            margin: auto;
            margin-top: 35px;

            input
            {
                height: 20px;
                width: 20px;
            }
        }
    }

    @media screen and (max-width: $mobile)
    {
        margin-top: 50px;
        bottom: 0;
        padding-bottom: 150px;
        width: 90%;
        position: unset;
        background: #000;

        &__video
        {
            width: 100%;
            height: 207px;
        }

        &__description
        {
            color: #fff;
            width: 100%;
        }

        &__form
        {
            width: 90%;

            input
            {
                background: #000;
            }

            &_name, &_phone, &_agree, &_btn
            {
                width: 100%;
                order: 1;
                
                span, input
                {
                    margin-top: 10px;
                    color: #fff;
                }
            }

            &_btn
            {
                order: 2;
            }

            &_agree
            {
                color: #fff;
            }
        }
    }

    @media screen and (min-width: 376px) and (max-width: $desktopMin)
    {
        bottom: 100px;    
    }
}