.repair-types
{
    width: 80%;
    height: 708px;
    margin: auto;
    @include flex-block(space-between);
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 150px;    

    &__header
    {
        width: 100%;
        height: 67px;
        background: green;
    }

    &__item
    {
        width: 392px;
        height: 608px;
        background: gray;
    }

}