.team
{
    width: 90%;
    margin: auto;
    margin-top: 150px;

    @include flex-block(space-between);
    flex-wrap: wrap;
    position: relative;
    bottom: 550px;
    margin-bottom: -55%;
    z-index:  2;

    &__header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: auto;
        &_title
        {
            @include text($font: $Yeseva);
            text-transform: uppercase;
        }

        img
        {
            margin-top: 10px;
        }
    }

    &__description
    {
        width: 25%;
        margin: auto;
        margin-top: 30px;

        @include text($font: $futuraBook, $size: 1em, $text_color: #fff);
        text-align: center;
        
    }

    &__content
    {
        margin-top: 30px;
        width: 100%;
        @include flex-block(space-between);
        flex-wrap: wrap;
        &_item
        {
            width: 30%;
            display: flex;
            flex-direction: column;
            &_logo
            {
                background: $color;
                height: 50px;
                width: 50px;
                padding: 10px 15px;
                position: relative;
                left: 80px;
                top: 35px;
                box-shadow: 0 0 10px 1px #ffffff73;
            }

            &_photo
            {
                margin: auto;
                width: 55%;
            }

            &_description
            {
                background: #fff;
                width: 50%;
                margin: auto;
                display: flex;
                flex-direction: column;
                text-align: center;
                position: relative;
                bottom: 60px;
                box-shadow: 0 0 10px 1px #5c5c5c73;
                &_name
                {
                    @include text($font:$Yeseva, $text_color: #000, $size: 1em);
                    padding-top: 30px;
                }

                &_job
                {
                    @include text($font:$futuraBook, $text_color: #959595, $size: 0.9em);
                    padding: 10px 0 20px 0;
                }

                &_experience
                {
                    @include text($font:$Yeseva, $size: 0.6em);
                    background: $color;
                    padding: 15px 0;
                    text-transform: uppercase;
                }
            }
        }
    }

    &__footer
    {
        @include text($text_color: #000,$font: $futuraBook, $size: 1em);
        text-align: center;
        width: 30%;
        margin: auto;
        line-height: 35px;
    }


    @media screen and (max-width: $mobile)
    {
        margin-top: 1300px;
        width: 90%;
        &__header
        {
            width: 100%;
            &_title
            {
                font-size: 2em;
            }
        }

        &__description
        {
            width: 80%;
        }

        &__content
        {
            &_item
            {
                width: 100%;
                &_logo
                {
                    height: 30px;
                    width: 30px;
                    left: 50px;
                    top: 25px;
                }
            }
        }
        &__footer
        {
            display: none;
        }
    }

    @media screen and (min-width: 376px) and (max-width: $desktopMin)
    {
        bottom: 400px;
        &__content_item_logo
        {
            top: 8%;
            left: 12%;
        }    
    }
}