@font-face
{
    src: url("/assets/fonts/FuturaDemiC.ttf");
    font-family: 'FuturaDemiC';
}

@font-face
{
    src: url("/assets/fonts/YesevaOne.ttf");
    font-family: 'Yeseva One';
}

@font-face
{
    src: url("/assets/fonts/FuturaBookC.ttf");
    font-family: 'FuturaBook';
}