.footer
{
    @include center_block();
    @include flex_block(space-between);
    align-items: baseline;
    margin-top: 37px;
    height: 100%;
    padding: 20px 0 30px 0;

    &__title
    {
        font-family: $futuraDem;
        font-size: 0.7em;
        color: $color;   
    }

    &__nav
    {

        ul
        {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
        }

        &_item
        {
            &:hover
            {
                color: $color;
            }

            margin-left: 49px;
            text-decoration: none;
            color: #fff;
            font-size: 0.7em;
        }
    }

    &__number
    {
        @include text($text_color: $color, $size: 0.7em, $font: $futuraDem);

        text-decoration: underline;
        font-weight: bold;
    }


    &__requestBtn
    {   
        @include text($font: $futuraDem, $size: 0.65em);

        margin-top: -13px;
        padding: 14px 34px;
        background: $color;
        cursor: pointer;
    }

    @media screen and (max-width: $mobile)
    {
        display: none;    
    }
}