*
{
    margin: 0;
    padding: 0;
    
    body
    {
        background: #000;
    }

    font-size: 20px;

    @media screen and (max-width: $mobile)
    {
        font-size: 12px;    
    }
}

.header
{
    @include center_block();
    @include flex_block(space-between);
    align-items: baseline;
    padding: 10px 0;
    &__title
    {
        @include text($font: $futuraDem, $text_color: $color, $size: 1em);
    }

    &__nav
    {

        ul
        {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
        }

        &_item
        {
            &:hover
            {
                color: $color;
            }

            margin-left: 49px;
            text-decoration: none;
            @include text($size: 0.7em, $font: $futuraDem);
        }


        @media screen and (max-width: $mobile)
        {
            display: none;
        }
    }

    &__number
    {
        @include text($text_color: $color, $size: 0.7em, $font: $futuraDem);

        text-decoration: underline;
        font-weight: bold;
    
        @media screen and (max-width: $mobile)
        {
            @include text($text_color : #fff, $font: $futuraDem);
            text-decoration: none;
        }
    }


    &__requestBtn
    {   
        @include text($font: $futuraDem, $size: 0.65em);
        
        padding: 0.8% 2%;
        border-radius: 5px;
        background: $color;
        cursor: pointer;
        text-align: center;
        border: none;
        outline: none;

        &:hover
        {
            background: #e3b873ca;
        }
        
        @media screen and (max-width: $mobile)
        {
            display: none;
        }
    }
}
