*
{
    margin: 0;
    padding: 0;
    background: #000;
}

.header
{
    @include center_block();
    @include flex_block(space-between);

    font-size: 14px;
    margin-top: 37px;

    &__title
    {
        font-family: $futuraDem;
        font-size: 1em;
        color: $color;   
    }

    &__nav
    {

        ul
        {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
        }

        &_item
        {
            &:hover
            {
                color: $color;
            }

            margin-left: 49px;
            text-decoration: none;
            color: #fff;
            font-size: 1em;
        }


        @media screen and (max-width: $tablet)
        {
            display: none;
        }
    }

    &__number
    {
        @include text($text_color: $color, $size: 14px, $font: $futuraDem);

        text-decoration: underline;
        font-weight: bold;
    
        @media screen and (max-width: $tablet)
        {
            @include text($text_color : #fff, $font: $futuraDem);
            text-decoration: none;
        }
    }


    &__requestBtn
    {   
        @include text($font: $futuraDem);

        margin-top: -13px;
        padding: 14px 34px;
        background: $color;
        cursor: pointer;

        @media screen and (max-width: $tablet)
        {
            display: none;
        }
    }
}