$color : #E3B873;
$futuraDem : "FuturaDemiC";
$futuraBook : "FuturaBook";
$Proxima :  "Proxima Nova";
$Yeseva: "Yeseva One";
$mobile : "375px";
$desktopMin : "1440px";


@mixin center-block ($width : 87%)
{
    width: $width;
    margin: auto;    
}

@mixin flex-block ($content : none)
{
    display: flex;
    justify-content: $content;   
}

@mixin text ($text_color : #ffffff, $size: 1em, $font : "Arial")
{
    font-size: $size;
    color: $text_color;
    font-family: $font;
}

